name: Docker Push update ui

on:
  push:
    paths:
      - 'ui-update/**'


env:
  DOCKERHUB_TAG: asnil/update-meta-ui

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWORD}}
      - 
        name: Generate App Version
        run: echo APP_VERSION=`git describe --tags --always` >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          dockerfile: ui-update/Dockerfile
          platforms: |
            linux/386
            linux/amd64
            linux/arm/v7
            linux/arm64
            linux/s390x            
          push: true
          build-args: |
            APP_VERSION=${{ env.APP_VERSION }}
          tags: |
            ${{ env.DOCKERHUB_TAG }}:latest
            ${{ env.DOCKERHUB_TAG }}:${{ env.APP_VERSION }}
        